
[submodule "mhwi-common"]
	path = mhwi-common
	url = https://github.com/2316429288/MHWIWikiProject.git
[submodule "mhwi-components"]
	path = mhwi-components
	url = https://github.com/2316429288/MHWIWikiProject.git
