@font-face {
  font-family: 'iconfont';  /* Project id 3269455 */
  src: url('//at.alicdn.com/t/font_3269455_smw62xh55yb.woff2?t=1648280593712') format('woff2'),
       url('//at.alicdn.com/t/font_3269455_smw62xh55yb.woff?t=1648280593712') format('woff'),
       url('//at.alicdn.com/t/font_3269455_smw62xh55yb.ttf?t=1648280593712') format('truetype');
}

.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
	font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
